<!DOCTYPE html>
<html>
<head>
	<title>Sort by campus</title>
</head>
<body>
	<p>Select a campus to see its student roster</p>

	<form action="/students/bycampus" method="get">
		<select name='campus'>
		  <option value="SF">SF</option>
		  <option value="CHI">CHI</option>
		  <option value="SD">SD</option>
		  <option value="NYC">NYC</option>
		  <option value="SEA">SEA</option>
		</select>
			<button>Submit</button>
	</form>
</body>
</html>