#contact-info{
  font-size: .8em;
}

.job{
  background-color: #e9e5dc;
  border-radius: 10px;
  padding: 1px 20px;
  margin: 10px 0px;
}

.accomplishments{
  font-size: .8em;
}

#first li{
  color: blue;
}
